<!DOCTYPE html>
<html>
<head>
  <title>Admin Message</title>
</head>
<body>
     <nav class="navbar navbar-dark fixed-top blue flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    Acheron</a>
    <div class="input-group pl-5">
        <input class=" form-control col-md-6 col-sm-6 border" type="search" placeholder="search" id="search" style="width:700px">
        <span class="input-group-append">
              <button class="btn btn-dark">Search</button>
        </span>
    </div>
    
      <ul class="navbar-nav col-md-4 col-sm-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" id="signout"></a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
          <div class="sidebar-sticky mt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link text-white" routerLink='/dashboard'>
                  <i class="fas fa-home"></i>
                  Dashboard 
                </a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link text-white" href="adminbooks.html">
                  <i class="fas fa-book"></i>
                  Books
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" (click)='navigateUser()' >
                <i class="fas fa-users"></i>
                  Members
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="adminmsg.html">
                  <i class="fas fa-comments"></i>
                  Messages
                </a>
              </li>
             
            </ul>

           
          </div>
        </nav>
        <!-- <div class="col-md-10 " style="margin-top: 4rem!important; background-color: #f5f5f5"> -->
             <!-- <div class="mt-5">
                
                        </div>
            
            <div id="tableDiv" style="margin-top: 40px">
  
      </div> -->
          <!-- </div> -->
        </div>
      </div>
    </body>
    </html>