 
 <body>
   
  <!-- <div class="container">
    <div class="row " >
      <div class="col-md-3"></div>
      <div class="col-md-5 mt-5">
        
<div class="card trans bg-dark">

  <h5 class="card-header info-color text-white text-center py-4">
    <strong>Sign in</strong>
  </h5>

  
  <div class="card-body px-lg-5 pt-0">

 
    <form class="text-center mt-4" >

      <div class="md-form mt-3">
        <input placeholder="Email" type="email"  class="form-control border-top-0 border-left-0 border-right-0">
        
      </div>

      <div class="md-form mt-3">
        <input type="password" placeholder="Password"  class="form-control border-top-0 border-left-0 border-right-0">
        
      </div>

      <div class="d-flex justify-content-around mt-3">
        <div>
          <div class="form-check ">
            <input type="checkbox" class="form-check-input" name="remember" >
            <label class="form-check-label text-white" for="remember">Remember me</label>
          </div>
        </div>
        <div>
          <a href="">Forgot password?</a>
        </div>
      </div>

      <button class="btn btn-outline-info btn-rounded btn-block my-4  " type="submit">Sign in</button>

      
      

    </form>

  </div>

</div>
    </div>
    <div class="col-md-2"></div>

    </div>
  </div> -->
   <div class="container">
     <div class="row">
     <h2 class="text-center mx-auto text-white">Library Management System</h2>

     </div>
   </div>
  <div class="container">
    <div class="row">
        
        <div class="col-md-1 "></div>
        <div class="col-md-5 ">
        </div>
        <div class="col-md-5 "> 
            <div class="card trans ">
                 <img src="../../../../assets/icon.png" class="mx-auto icon">
                <h5 class="card-header info-color text-white text-center py-4">
                  <strong>Sign in</strong>
                </h5>
              
                
                <div class="card-body px-lg-5 pt-0">
              
               
                  <form class="text-center mt-4" >
              
                    <div class="md-form mt-3">
                      <input placeholder="Email" type="email"  class="form-control border-top-0 border-left-0 border-right-0" #mail>
                      
                    </div>
              
                    <div class="md-form mt-3">
                      <input type="password" placeholder="Password"  class="form-control border-top-0 border-left-0 border-right-0" #pass>
                      
                    </div>
              
                    <div class="d-flex justify-content-around mt-3">
                      <div>
                        <div class="form-check ">
                          <input type="checkbox" class="form-check-input" name="remember" >
                          <label class="form-check-label text-white" for="remember">Remember me</label>
                        </div>
                      </div>
                      <div>
                        <a href="">Forgot password?</a>
                      </div>
                    </div>
              
                    <button class="btn btn-outline-info btn-rounded btn-block my-4  " type="submit" (click)="login(mail.value,pass.value)">Sign in</button>
              
                  </form>
              
                </div>
              
              </div>
          

        </div>
        <div class="col-md-1"></div>


      
    </div>
  </div>

 </body>