body{
  background-image: url(../../../../assets/bg.jpg);
  /* height: 100vh; */
}
.trans{
   opacity:0.9;
}
/* .bg{
    width: 100%;
    height: 100%;
    background: url('../../../../assets/bgimg.jpg');
    background-size: 100% 100%;
    background-position: top center;
  } */

  .div{
    background-image: url(../../../../assets/divimg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
  }

  .icon{
    /* height: 190px;
    width: 180px; */
    /* object-fit: cover; */
  }
  /* .card {
    min-height: 600px;
} */