<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">User Mail</label>
        <input type="text" class="form-control" formControlName="mail" #mail />
      </div>
      <div *ngIf="angForm.controls['mail'].invalid && (angForm.controls['mail'].dirty || angForm.controls['mail'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['mail'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Password</label>
        <input type="text" class="form-control" formControlName="pass" #pass/>
      </div>
      <div *ngIf="angForm.controls['pass'].invalid && (angForm.controls['pass'].dirty || angForm.controls['pass'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['pass'].errors.required">
          Price is required.
        </div>
      </div>
        <div class="form-group">
          <button (click)="addCoin(mail.value, pass.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add User</button>
        </div>
    </form>
  </div>
</div>